
body{
  padding-bottom: 1.5rem;
}
body .btm-nav{
  padding-bottom: env(safe-area-inset-bottom);
  height: 3rem;
  --tw-bg-opacity: 1;
  color: currentColor;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: fixed;
}
#experance-page,
#loading-spinner,
#portfolio-page,
#main-page{
  display:none;
}
section{
  max-width: 780px;
  margin: 0 auto;
}
.introduction{
  max-width: 460px;
}
#loading-spinner{
  height: calc(100vh - 50px);
}
#more-skills{
  cursor: pointer;
}

/* .hero-content{
  align-items: start;
} */

@media (min-width: 768px){
  .introduction{
    /* max-width: 560px; */
    /* margin-left: 40px; */
  }
  .hero-content{
    align-items: baseline;
  }
/*   #main-page .job-title{
    text-align: left !important;
  } */
/*   .name-title{
    margin-left:8px;
  } */
}
#accordion-flush h2{
  position: sticky;
  top:0;
  z-index: 10;
  background-color: #fff;
}
#introduction{
  max-width: 550px;
  margin: 0 auto;
}

.learn-more-container{
  max-width: 780px;
  margin: 0 auto;
}

#btm-nav{
  z-index:999;
}
.hero-bg{
  position: absolute;
  z-index: 0;
  top: 70px;
  font-size: 22vw;
}
.hero-content,
#introduction{
  position: relative;
  z-index: 1;
}
#main-page{
  overflow: hidden;
}
/* h4{
  position: sticky;
  top: 0;
  background: rgb(249 250 251 / var(--tw-bg-opacity));
} */

/* pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  word-break: keep-all
}

#main-page .mockup-code pre[data-prefix]:before{
  display: none;
}
#main-page .mockup-code{
  padding-left: 30px;
}

.mockup-code:before{
  margin-left: -22px;
} */